*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(47, 47, 87);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
align-items: center;
}

.passwordBox{
width: 350px;
padding: 20px;
  background-color: rgb(101, 93, 166);
}
.passwordBoxin{
  display: flex;
}
.passwordBoxin input{
  flex-basis: 80%;
  padding-left: 5px;
}
.passwordBoxin button{
  flex-basis: 20%;
  padding: 10px 0px;
}
.passLength{
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
align-items: center;
}

.passLength input{
  width: 60px;
  padding: 10px 0px;
}

.btn{
  width: 100%;
  padding: 10px 0px;
  cursor: pointer;
}